<h1>Lista de Institutos</h1>
<% if not @institutos.nil? %>
  <ul>
  <% @institutos.each do |i| %>
    <li><%= link_to i.nome, i %></li>
  <% end %>
  </ul>
<% end %>

<hr>

<%= link_to 'Novo Instituto', new_instituto_path %>
